div.toc{
  max-width: 340px;
  clear: left;
  display: inline-block
}

div.toc ul{
  padding-left: 0;
  list-style: none
}

div.toc>ul{
  border-radius: 5px;
  background-color: #f6f6f6;
  padding-top: 5px
}

div.toc ul li ul li{
  padding-left: 10px
}

div.toc ul li a{
  padding: 5px 10px;
  display: block;
  border-bottom: 1px solid #ddd;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #337ab7;
  font-weight: 400;
}

div.toc ul li:last-child{
  margin-bottom: 7px
}